body{
  background: #222;
  font-family: sans-serif;
}

.container, .header, .content, .footer{
  display: flex;
  justify-content: center;
  align-content: center;
}

.container{
  flex-direction: column;
  height: 100vh;
}

.header, .content{
  padding: 20px 0;
}

.content{
  min-height: 60vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.wrapper{
  width: 50%;
  padding: 20px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 360px;
  min-height: 160px;
  border-radius: 52px;
  background-image:url('..//img/background.jpg');
  background-position: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  box-shadow: 10px 10px 20px 3px #151515;
}

.footer{
  flex-direction: column;
}

.cup{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 90px;
  background: #355142;
  box-shadow: 10px 10px 30px 0px #111;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #244032;
  cursor: pointer;
  -webkit-flex-direction: row; /* Safari 6.1+ */
  -ms-flex-direction: row; /* IE 10 */ 
}

.sub-cup{
  width: 100px;
  height: 100px;
  border-radius: 75px;
  background: #405648;
  border: 1px solid #244032;
  position: absolute;
  top: 23px;
  left: 23px;
}

.level{
  width: 100px;
  min-width: 60px;
  padding: 0 20px;
  text-align: center;
  cursor: pointer;
}

.level-label{
  font-size: 20px;
  text-transform: uppercase;
  padding: 9px 20px 0 20px;
  color: #fff;
  background: #355142;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.start{
  cursor: pointer;
  border: none;
  padding: 9px 23px;
  font-size: 20px;;
  color: #fff;
  background: #926005;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.start:hover{
  background: #bb7011;
}

.shadow{
  box-shadow: 20px 20px 20px 5px #111;
  z-index: 10;
}

.bean{
  width: 40px;
  height: 40px;
  display: block;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bean img{
  width: 100%;
}

.result{
  visibility: hidden;
  font-size: 40px;
  text-align: center;
}

.result img{
  width: 35%;
}

.wrong{
  color: #991122;
}

.correct{
  color: #fff;
}


@media (max-width:1366px){

   .cup{
      width: 126px;
      height: 126px;
   }

   .sub-cup{
      width: 80px;
      height: 80px;
      top: 21px;
      left: 21px
   }

  .bean{
      width: 25px;
      height: 25px;
   }
}


@media (max-width:1280px){

   .cup{
      width: 110px;
      height: 110px;
   }

   .sub-cup{
      width: 70px;
      height: 70px;
      top: 18px;
      left: 18px;
  }

  .bean{
      width: 20px;
      height: 20px;
   }
}

@media (max-width:860px){

   .cup{
      width: 80px;
      height: 80px;
   }

   .sub-cup{
      width: 50px;
      height: 50px; 
      top: 13px;
      left: 13px
   }

   .bean{
      width: 15px;
      height: 15px;
   }
 
   .wrapper{
      width: 80%;
   }

   .container {
     height: 120vh;
   }

}

@media (max-width:560px){

   .bean{
      width: 10px;
      height: 10px;
   }
 
   .wrapper{
      width: 90%;
   }
}

@media (max-width:380px){

   .cup{
     width: 65px;
     height: 65px;
   }

   .sub-cup{
     width: 43px;
     height: 43px;
     top: 10px;
     left: 10px
   }

   .bean{
     width: 5px;
     height: 5px;
   }

  .level-label{
    font-size: 16px;
    padding-top: 5px;
  }

  .start{
    padding: 5px 20px;
    font-size: 16px;
  }

  .wrapper{
    height: 200px;
  }

}
